body{
		background-image:url("../images/plant background.jpg");
		background-size: cover;
	}
	h1{
		color:#7a9f92;
		font-family:Garamond;
		font-style:italic;
		font-size:400%;
		margin:0;
		}
	p{
		color:#7a9f92;
		font-family:Georgia;
		font-style:italic;
		font-size:150%;
		margin-top:6px;
		margin-bottom:0;
		}
		   
	.header{
			display:flex;
			flex-direction:column;
			align-items:center;
			text-align:center;
			padding: 20px;
			background-color:#2e6f57;
		    }
			
	.navigation {
		   display:flex;
		   justify-content:center;
		   align-items:center;
		   gap:10px;
		   width:300;
			}
	.nav-design {
	       color: #b5c9c2;
	       font-family:Georgia;
		   font-size:100%;
	       text-decoration: none;
	       padding-left:30px;
	       padding-right:30px;
	       background-color: #265a47;
           }

    a:hover {
	       color:black;
           }
	.page-alignment{
			display:flex;
			gap:20px;
			padding:20px;
			margin-top:20px;
		    }
			
	.main-content{
			flex:3;
			background-color:#2e6f57BF;
			padding:20px;
			border-radius: 4px;
		    }
			
	h2{
			font-family:bebas neue;
			font-size:350%;
			color:#7a9f92;
			font-style:italic;
			margin-top:0px;
		    }
			
	.cards-arrangement{
			display:flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 50px;
		    }
			
	.plant-pic{
			width:220px;
			height:160px;
			object-fit:cover;
			border-radius: 12px;
		    }
			
	.plant-pic:hover{
			transform:scale(1.1);
			transition:0.3s;
		    }
			
	.plant-title{
			font-family:roboto;
			font-size:150%;
			color:#7bb790;
			margin-top:10px;
			margin-left:35px;
		    }
	.explore-button{
			background-color:#244230;
			color:#7a9f92;
			padding:15px 35px;
			border:none;
			border-radius:30px;
			font-size:18px;
			font-weight:600;
			float: right;
			}
	.explore-button:hover{
			color:black;
			}